.characteristic {
	width: 280px;
	margin: 0 auto;
}

.characteristic__title {
	font-size: 36px;
	font-weight: normal;

	color: #111111;

	margin: 24px 0 36px 0;
}

.characteristic__wrapper {
	display: flex;
	flex-direction: column;
	width: 200px;

	font-family: 'Arial', 'Calibri', sans-serif;
	font-weight: normal;

	color: #444444;

	margin-left: 80px;
}

.characteristic__text {
	position: relative;

	&--leaf {
		margin: 2px 0 0 0;
	}

	&--leaf::before {
		top: -2px;
	}

	&--leaf::after {
		background: url(../img/advantage-leaf@1x.png);

		right: 225px;
		top: 3px;
	}

	&--powder {
		margin: 25px 0 0 0;
	}

	&--powder::before {
		top: -2px;
	}

	&--powder::after {
		background: url(../img/advantage-powder@1x.png);

		right: 225px;
		top: 2px;
	}

	&--tableware {
		margin: 26px 0 0 0;
	}

	&--tableware::before {
		top: -3px;
	}

	&--tableware::after {
		background: url(../img/advantage-dining@1x.png);

		right: 227px;
		top: 3px;
	}

	&--watch {
		margin: 27px 0 0 0;
	}

	&--watch::before {
		top: -2px;
	}

	&--watch::after {
		background: url(../img/advantage-clock@1x.png);

		right: 225px;
		top: 4px;
	}
}

.characteristic__text::before {
	content: '';
	display: block;
	position: absolute;
	right: 220px;

	width: 60px;
	height: 60px;
	background-color: #68b738;
}

.characteristic__text::after {
	content: '';

	display: block;
	position: absolute;

	width: 50px;
	height: 50px;
}

@media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
	.characteristic__text {
		&--leaf::after {
			background: url(../img/advantage-leaf@2x.png);
		}

		&--powder::after {
			background: url(../img/advantage-powder@2x.png);
		}

		&--tableware::after {
			background: url(../img/advantage-dining@2x.png);
		}

		&--watch::after {
			background: url(../img/advantage-clock@2x.png);
		}
	}
}
