/* Fonts */

@font-face {
	font-family: "Oswald Regular";
	src: url("/fonts/Oswald-Regular.woff2") format("woff2"),
				url("/fonts/Oswald-Regular.woff") format("woff");
	font-display: swap;
}
@font-face {
	font-family: "Oswald Medium";
	src: url("/fonts/Oswald-Medium.woff2") format("woff2"),
				url("/fonts/Oswald-Medium.woff") format("woff");
	font-display: swap;
}

/* Body */

body {
	margin: 0;

	font-family: "Oswald Regular","Arial", sans-serif;
	font-size: 14px;
	line-height: 1.286;
	color: rgb(68, 68, 68);
}
  
a {
	text-decoration: none;
}