.header {
	width: 280px;
	margin: 0 auto;
}

.header__top-panel {
	display: flex;
	justify-content: space-between;
	align-items: center;

	height: 65px;

	padding: 0;

	list-style: none;
}

.header__link {
	cursor: pointer;
}

.header__logo {
	width: 190px;
	height: 38px;
}

.header__close {
	width: 18px;
	height: 18px;

	margin-right: 3px;
}
