.intro {
	background-color: #5eaa2f;
	background-image: linear-gradient(to top, #fff 175px, transparent 175px),
		url(../../img/index-background-mobile@1x.jpg);
	background-repeat: no-repeat;
	background-position: center bottom, center top;
	color: #fff;
}

.intro__wrapper {
	width: 280px;
	margin: 0 auto;
	padding-top: 27px;
}

.intro__title {
	margin-top: 0;
	margin-bottom: 23px;
	padding: 0;
	font-size: 36px;
	text-align: center;
	font-weight: normal;
	line-height: 1;
}

.intro__subtitle {
	margin-top: 0;
	margin-bottom: 28px;
	font-size: 14px;
	text-transform: uppercase;
	text-align: center;
	font-weight: normal;
}

.intro__button {
	padding-top: 11px;
	padding-bottom: 10px;
}

@media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
	.intro {
		background-image: linear-gradient(to top, #fff 175px, transparent 175px),
			url(../../img/index-background-mobile@2x.jpg);
		background-size: auto, 320px auto;
	}
}
