.preview {
    background:  #65a93c url("../img/index-background-mobile@1x.jpg") no-repeat center top / cover;
    position: relative;
    margin-bottom: 197px;
}

.preview__title { 
    width: 280px;
    display: block;
    text-align: center; 
    
    margin: 0 auto;
    padding-top: 27px;
    padding-bottom: 164px;
}

.preview__title-text:first-child {
    font-size: 36px;
    line-height: 1.0;

    margin-bottom: 23px;
}

.preview__title-text {
    font-family: "Oswald Regular","Arial", sans-serif;
    font-weight: normal;
    font-size: 14px;

    color: #fff;

    margin: 0;
}

.preview__title-text:last-child {
    text-transform: uppercase;
}

.preview__button {
    width: 280px;
    margin: 0 auto;
}

.preview__link {
    width: 280px;
    display: block;
    position: absolute;
    top: 439px;
    left: 50%;
    transform: translate(-50%);
    background-color: #68b738;

    font-size: 14px;
    text-align: center;
    text-transform: uppercase;

    color: #fff;

    padding: 11px 0px;
}

.preview__img {
    display: block;
    width: 280px;
    height: 271px;

    position: absolute;    
    top: 165px;
    transform: translate(-50%);
    left: 50%;  
}

@media (min-resolution: 144dpi),
        (min-resolution: 1.5dppx) {

    .preview {
        background: #65a93c url("../img/index-background-mobile@2x.jpg") no-repeat center top / cover;
    }
}
